@import "tailwindcss";

:root {
  --background: #1f2632;
  --foreground: #cee3e9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-manrope);
  --font-mono: var(--font-manrope);
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--background);
  color: var(--foreground);
}